#
# Copyright (c) 2021 Darryl deHaan
# SPDX-License-Identifier: MIT
#

config BOARD_ZEN_LEFT
	bool "zen_left"
	depends on SOC_NRF52840_QIAA

config BOARD_ZEN_RIGHT
	bool "zen_right"
	depends on SOC_NRF52840_QIAA