#
# Copyright (c) 2022 Darryl deHaan
# SPDX-License-Identifier: MIT
#

if BOARD_ZEN_LEFT

config ZMK_KEYBOARD_NAME
	default "Corne-ish Zen"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # BOARD_ZEN_LEFT

if BOARD_ZEN_LEFT || BOARD_ZEN_RIGHT

config BOARD
	default "zen"

config ZMK_SPLIT
	default y

config I2C
	bool
	default y

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

menuconfig SENSOR
	bool "Sensor Drivers"

config BQ274XX
	bool "BQ274xx Fuel Gauge"
	depends on I2C && SENSOR

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

endif # BOARD_ZEN_LEFT || BOARD_ZEN_RIGHT