#define HOST_OS 2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "./helpers/nodefree.h"
#include "./helpers/keypos_20key.h"
#include "./keycodes.h"

#define DEF 0

/**
 * ----------------------------------------------
 * DEFAULT ALPHA LAYER
 * ----------------------------------------------
 */

ZMK_LAYER(def_layer,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     _____R_____   _____S_____   _____N_____   _____I_____   ___________       ___________   _____I_____   _____N_____   _____S_____   _____R_____
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     _____A_____   _____O_____   _____T_____   _____E_____   ___________       ___________   _____E_____   _____T_____   _____O_____   _____A_____
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                   ___________   ___________   ___________                                   ___________   ___________   ___________
//               ╰─────────────┼─────────────┼─────────────╯                               ╰─────────────┴─────────────┴─────────────╯
                                               ___________   ___________       ___________   ___________
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)
