/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "./helpers.h"
#include "./keycodes.h"

&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };

#define STICKY_KEY_TIMEOUT 60000

#define DEF 0
#define LWR 1
#define UPR 2
#define NAV 3
#define NUM 4
#define SYM 5
#define SOM 6
#define FUN 7
#define SYS 8

ZMK_BEHAVIOR(homerow_mods, hold_tap,
  flavor = "tap-preferred";
  tapping-term-ms = <300>;
  quick-tap-ms = <250>;
  bindings = <&kp>, <&kp>;
)

#define HM(LAYER, KEY) &homerow_mods LAYER KEY 

#define HMLG(KEY) &homerow_mods LEFT_GUI      KEY 
#define HMLA(KEY) &homerow_mods LEFT_ALT      KEY 
#define HMLC(KEY) &homerow_mods LEFT_CONTROL  KEY 
#define HMLS(KEY) &homerow_mods LEFT_SHIFT    KEY 

#define HMRG(KEY) &homerow_mods RIGHT_GUI     KEY 
#define HMRA(KEY) &homerow_mods RIGHT_ALT     KEY 
#define HMRC(KEY) &homerow_mods RIGHT_CONTROL KEY 
#define HMRS(KEY) &homerow_mods RIGHT_SHIFT   KEY 

ZMK_BEHAVIOR(homerow_layers, hold_tap,
  flavor = "tap-preferred";
  tapping-term-ms = <220>;
  quick-tap-ms = <250>;
  bindings = <&mo>, <&kp>;
)

#define HL(LAYER, KEY) &homerow_mods_left LAYER KEY 

#define LNAV(KEY) &homerow_mods NAV KEY 
#define LNUM(KEY) &homerow_mods NUM KEY 
#define LSYM(KEY) &homerow_mods SYM KEY 
#define LSOM(KEY) &homerow_mods SOM KEY 


ZMK_BEHAVIOR(alpha_lwr, macro,
  bindings = <&sl LWR>;
)

ZMK_BEHAVIOR(alpha_upr, macro,
  bindings = <&sl UPR>;
)

#define UPER(KEY) &kp LS(KEY)



ZMK_LAYER(def_layer,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXXXXXXXXXX   HMLC(__L__)   HMLA(__G__)   HMLG(__D__)   XXXXXXXXXXX       XXXXXXXXXXX   HMRG(__H__)   HMRA(__U__)   HMRC(__O__)   XXXXXXXXXXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     LNUM(__I__)   LSOM(__S__)   LSYM(__R__)   LNAV(__T__)   XXXXXXXXXXX       XXXXXXXXXXX   LNAV(__N__)   LSYM(__E__)   LSOM(__A__)   LNUM(__C__) 
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX 
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                 XXXXXXXXXXX   &alpha_upr    &alpha_lwr        &mt MEH SPC   &key_repeat   XXXXXXXXXXX
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(lwr_layer,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXXXXXXXXXX   _____V_____   _____W_____   _____M_____   XXXXXXXXXXX       XXXXXXXXXXX   _____F_____   ___SQUOT___   _____Z_____   XXXXXXXXXXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     _____Q_____   _____J_____   _____P_____   _____K_____   XXXXXXXXXXX       XXXXXXXXXXX   _____B_____   ___DOT_____   _____X_____   _____Y_____ 
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX 
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                 XXXXXXXXXXX   XXXXXXXXXXX   &alpha_upr        &sk LSFT      XXXXXXXXXXX   XXXXXXXXXXX
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(upr_layer,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXXXXXXXXXX   UPER(__V__)   UPER(__W__)   UPER(__M__)   XXXXXXXXXXX       XXXXXXXXXXX   UPER(__F__)   ___SLASH___   UPER(__Z__)   XXXXXXXXXXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     UPER(__Q__)   UPER(__J__)   UPER(__P__)   UPER(__K__)   XXXXXXXXXXX       XXXXXXXXXXX   UPER(__B__)   ___COMMA___   UPER(__X__)   UPER(__Y__) 
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX 
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                 XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       ___________   XXXXXXXXXXX   XXXXXXXXXXX
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)



/**
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     ___________   ___________   ___________   ___________   ___________       ___________   ___________   ___________   ___________   ___________ 
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     ___________   ___________   ___________   ___________   ___________       ___________   ___________   ___________   ___________   ___________ 
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     ___________   ___________   ___________   ___________   ___________       ___________   ___________   ___________   ___________   ___________ 
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                 ___________   ___________   ___________       ___________   ___________   ___________
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯ 

// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX 
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX 
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                 XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX       XXXXXXXXXXX   XXXXXXXXXXX   XXXXXXXXXXX
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
 */